---
layout: default
---

<article class="post">
  <div class="header">
    <ul class="categories">{% for category in page.categories %}<li>{{ category }}</li> {% endfor %}</ul>
    <ul class="tags">{% for tag in page.tags %}<li>{{ tag }}</li> {% endfor %}</>
  </div>
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <div class="author">
    by {{ page.author }}
  </div>

  {% include disqus.html %}
</article>
